

.lien {
   margin: 0 auto;
}

.name-reseaux {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.lien {
    display: flex;
    justify-content: center;
}

#preview {
    width: 40px;

}

label {
    margin: 10px;
}

.social {
    margin: 20px 0 0 15px;
    font-size: 20px;
   
}

.MJ input{
    
  margin: 50px 488px;
  width: 100px;
  height: 40px;
}

/* CSS de Ajouter un réseau social */

.wrap{
    margin: 200px auto;
}

#social_wrap2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.NL {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 30px;
}


.AM{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px;
}